@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans.woff2') format('woff2'),
        url('./fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('./fonts/Hack-Regular.woff2') format('woff2'),
        url('./fonts/Hack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* remove list styles only when role="list" (must specify role="list" for 
safari accessibility) */
ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

:root 
{
    font-size: 62.5%;
}


/* end of css reset */

html
{
    height: 100%;
}

body
{
    display: flex;
    height: 100%;
    font-family: "Hack", "Courier New", monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Open Sans", "Courier New", monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

p
{
    font-size: 1.6rem;
}

.main-content
{
    flex: 2;
}

.sidebar 
{
    flex: 1;
    position: relative;
}

.sidebar-header
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20em;
    padding: 1em;
}

.sidebar-header h1
{
    font-size: 7rem;
    color: white;
}

.sidebar img
{
    height: 100%;
}

.odin-lined-img
{
    width: 10em;
    height: 12em;
}

.sidebar p
{
    width: 100%;
    position: absolute;
    bottom: 1em;
    text-align: center;
    color: white;
}
.sidebar p a:link
{
    color: green; 
}

.sidebar p a:visited
{
    color: white; 
}

.form-main-container
{
    background-color: white;
    box-shadow: .5em .3em .5em rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    padding: 4.5em 4em;
}

.main-content h3
{
    font-size: 2rem;
}

.main-content
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.our-form button
{
    margin-left: 4em;
}
.main-content p
{
    margin-left: 4rem;
}

.main-content > h3
{
    margin-left: 2em;
}
